.course {
    display: flex;
    flex-direction: column;

    align-items: start;
    gap: 8px;
    padding: 24px;
    width: 100%;

    background-color: var(--surface-light);
    border: 1px solid var(--light-vista-tertiary);
}

.imageContainer {
    width: 100%;
    height: 139px;
}

.courseImage {
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.courseTitle {
    color: var(--light-vista-primary);
}

.courseAuthor {
    margin-top: auto;

    color: var(--light-neutral-secondary);
}

.coursePrice {
    color: var(--light-vista-primary);
}

.courseTitle,
.courseAuthor,
.coursePrice {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}