.default {
    display: flex;
    gap: 8px;
    padding: 12px 24px;
    align-items: center;
    justify-content: center;

    color: var(--dark-neutral-primary);

    background-color: var(--background-dark);
    border: none;
    cursor: pointer;
}

/* .dark {
    composes: default;

    background-color: var(--grey-text-dark);
}

.transparent {
    composes: default;

    color: var(--grey-900);

    background-color: transparent;
    border: 1px solid var(--grey-text-dark);
} */