.header {
  padding-top: 16px;
  padding-bottom: 16px;

  color: var(--dark-neutral-primary);

  background-color: var(--surface-dark);
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.linkLogo {
  display: flex;
  align-items: center;
  padding: 4px 0;  
  margin-right: 24px;

  text-decoration: none;
}

.siteList {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-right: 121px;

  text-wrap: nowrap;
}

.navCategory {
  display: flex;
  align-items: center;
  padding: 14px 0;
  margin-right: 121px;
}

.searchInputContainer {
  position: relative;

  display: flex;
  align-items: center;
  flex-grow: 1;
}

.loupe {
  position: absolute;
  top: 14px;
  left: 10px;
}

.searchInput {
  width: 100%;
}

.searchInput:focus {
  outline: none;
}

.userList {
  display: flex;
  align-items: center;
}

.cart {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.cartLink {
  display: flex;
  padding: 12px 0;
}

.login {
  margin-right: 24px;
}

.authLink {
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease, border 0.3s ease;
}

.authLink:hover,
.cartLink:hover,
.linkLogo:hover {
  transform: scale(1.05);
  opacity: 0.9;
}