.header {
  padding-top: 16px;
  padding-bottom: 16px;

  color: var(--dark-neutral-primary);

  background-color: var(--surface-dark);
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.linkLogo {
  display: flex;
  align-items: center;
  padding: 4px 0;  
  margin-right: 24px;

  text-decoration: none;
}

.siteList {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-right: 121px;

  text-wrap: nowrap;
}

.navCategory {
  display: flex;
  align-items: center;
  padding: 14px 0;
  margin-right: 121px;
}

.searchInputContainer {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.searchForm {
  position: relative;

  width: 100%;
}

.loupe {
  position: absolute;
  top: 14px;
  left: 10px;
}

.userList {
  display: flex;
  align-items: center;
}

.cart {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.cartLink {
  display: flex;
  padding: 12px 0;
}

.login {
  margin-right: 24px;
}

.cartLink:hover,
.linkLogo:hover {
  transform: scale(1.05);
  opacity: 0.9;
}


.profile {
  width: 40px;
  height: 40px;
}

.profilePicture {
  position: relative;

  width: 100%;
  height: 100%;
  
  border-radius: 50%;
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;

  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
  padding: 10px;

  background-color: var(--light-kelp-primary);
  border-radius: 4px;
}
