.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 64px;

  border-bottom: 1px solid var(--grey-border);
}

.linkLogo {
  display: flex;
  align-items: center;
  margin-right: 18px;

  text-decoration: none;
}

.logo {
  margin-right: 6px;

  transform: translateY(-14%);
}

.textLogo {
  font-weight: 500;
  line-height: 19.36px;
  color: var(--grey-700)
}

.siteList {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-right: 66px;

  text-wrap: nowrap;
}

.navLink {
  display: flex;
  align-items: center;
  padding: 10px;

  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--grey-700);
}

.navCategory {
  composes: navLink;

  margin-right: 23px;
}

.searchInputContainer {
  position: relative;

  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-right: 30px;
}

.searchInput {
  width: 100%;

  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--grey-700);
}

.searchInputContainer::before {
  content: '';
  position: absolute;
  left: 10px;

  width: 20px;
  height: 20px;

  background: url('src/shared/ui/icons/loupe.svg') no-repeat center center;
  background-size: contain;
}

.userList {
  display: flex;
  align-items: center;
}

.cart {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.cartLink {
  display: flex;
  padding: 8px;
}

.login,
.signup {
  line-height: 20px;
}

.login {
  margin-right: 24px;
}

.loginLink,
.signupLink {
  padding: 10px;

  font-weight: 500;
  font-size: 14px;
  text-decoration: none;

  border: 1px solid var(--grey-700);

  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease, border 0.3s ease;

  cursor: pointer;
}

.loginLink {
  color: var(--grey-700);

  background-color: var(--color-white);
}

.signupLink {
  color: var(--color-white);

  background-color: var(--grey-700);
}

.loginLink:hover,
.signupLink:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.loginLink:hover {
  color: var(--color-white);

  background-color: var(--grey-700);
}

.signupLink:hover {
  color: var(--grey-700);

  background-color: var(--color-white);
}