.page {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container {
    padding-left: calc(50% - 640px);
    padding-right: calc(50% - 640px);
}

.advantages {
    composes: container;

    padding-top: 40px;
    padding-bottom: 40px;
}