.heading {
    margin-bottom: 40px;

    font-size: 32px;
    font-weight: 500;
    line-height: 38.4px;
}

.cards > div { /* узнать у Антона как сделать  */
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.cardItem {
    display: flex;
    flex-grow: 1;

    min-width: 0;
    min-height: 238px;
}
