.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.leftColumn {
    display: flex;
    flex-direction: column;
    gap: 24px;
}