.InvitationWidgetContainer {
    /* min-width: 1440px;
    padding-left: calc(50% - 640px);
    padding-right: calc(50% - 640px); */
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.invitation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    width: 549px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.title {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-black);
}
.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    margin-bottom: 8px;
    color: var(--grey-800);
}

.buttonLink {
    display: inline-block;
}