.main {
    display: flex;
    justify-content: space-between;

    color: var(--dark-neutral-secondary);
    background-color: var(--surface-dark);
}

.description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 416px;
}

.logoWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.title {
    margin-bottom: 8px;
}

.list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
}

.address {
    margin-bottom: 24px;

    font-style: normal;
}

.descriptionList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.descriptionElement {
    display: flex;
}

.descriptionTermin {
    margin-right: 0.5em;
}

.descriptionDetails {
    margin: 0;
}

.descriptionDetails a {
    text-decoration: none;
    color: inherit;
}