.container {
    position: relative;
}

.button {
    position: absolute;
    top: calc(-38px - 28px);

    display: flex;
    padding: 8px 16px;

    color: var(--color-white);

    background-color: var(--grey-disable);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.prev {
    right: calc(72px + 56px + 24px);
}

.next {
    right: 72px;
}

.next svg {
    transform: rotate(180deg);
}