.categoriesHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.allCategoriesLink {
    margin-right: 24px;

    color: var(--primary-500);
}

.categoriesContainer {
    display: flex;
    justify-content: space-between;
}