.container {
    padding-left: 76px;
}

.list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.login,
.signup {
    padding: 10px;

    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;

    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease, border 0.3s ease;

    cursor: pointer;
}

.login {
    border: 1px solid var(--grey-700);
    color: var(--grey-700);
    background-color: var(--color-white);
}

.signup {
    color: var(--color-white);

    background-color: var(--grey-700);
    border: 1px solid var(--grey-700);
}

.login:hover,
.signup:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.login:hover {
    color: var(--color-white);

    background-color: var(--grey-700);
}

.signup:hover {
    color: var(--grey-700);

    background-color: var(--color-white);
}