.content {
    display: block;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.title {
    font-size: 24px;
    font-weight: 600;
    line-height: 33.6px;
}

.link {
    padding: 10px 24px;
    min-height: 48px;

    font-size: 14px;
    font-weight: 500;
    line-height: 22.4px;
    color: var(--primary-500);

    cursor: pointer;
}

.cards {
    display: flex;
    justify-content: space-between;
}