.default {
    display: flex;
    gap: 6px;
    padding: 10px 24px;

    font-size: 14px;
    font-weight: 500;
    line-height: 22.4px;
    color: var(--color-white);

    background-color: var(--primary-500);
    border-radius: 8px;
}

.dark {
    compose: default;

    background-color: var(--grey-text-dark);
}

.transparent {
    compose: default;

    color: var(--grey-900);

    background-color: transparent;
    border: 1px solid var(--grey-text-dark);
}