.default {
    display: flex;
    gap: 8px;
    padding: 12px 24px;
    align-items: center;
    justify-content: center;

    color: var(--dark-neutral-primary);

    background-color: var(--background-dark);
    border: none;
    cursor: pointer;

    transition: transform 0.3s ease, opacity 0.3s ease;
}

.default:hover {
    transform: scale(1.04);
    opacity: 0.9;
}

.default:active {
    transform: scale(1);
}

.default:focus-visible {
    outline: 2px solid var(--dark-kelp-primary);
}

.green {
    composes: default;

    color: var(--light-neutral-primary);
    background-color: var(--dark-kelp-primary);
}

.purple {
    composes: default;

    color: var(--light-neutral-primary);
    background-color: var(--dark-vista-primary);
}

.salt {
    composes: default;

    background-color: var(--light-salt-primary);
}

.green:focus-visible,       
.purple:focus-visible {
    outline: auto;
}

.salt:focus-visible {
    outline: 2px solid var(--dark-kelp-primary);
}