.course {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    padding: 16px;

    border-radius: 16px;
    background-color: var(--color-white);
    border: 1px solid var(--grey-border);
    box-shadow: 0px 0px 8px 0px var(--border-shadow);
}

.courseImage {
    width: 266px;
    height: 139px;
    margin-bottom: 8px;

    border-radius: 5px;
}

.courseTitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 28.8px;
    color: var(--grey-900);
}

.courseAuthor {
    font-size: 14px;
    line-height: 21px;
    color: var(--grey-700);
}

.courseRatingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.courseRatingCount {
    margin-top: 3px;

    font-weight: 600;
    line-height: 14.52px;
    font-size: 12px;
    color: var(--grey-700);
}

.courseInfos {
    display: flex;
    font-size: 14px;
    line-height: 21px;
}

.coursePrice {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: var(--grey-900);
}