html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  font-style: normal;
  font-weight: 400;

  font-size: 20px;
  line-height: 24px;
  font-family: "Fira Sans", sans-serif;

  color: var(--light-neutral-primary);
  box-sizing: border-box;

  /* оптимизация выравнивания шрифта относительно центра строки */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* оптимизация выравнивания шрифта относительно центра строки */
  text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;

  background-color: var(--base-white);
}

img,
video {
  max-width: 100%;
  height: auto;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button:focus,
button:focus-visible {
  outline: none -webkit-focus-ring-color;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

input,
select,
textarea {
  box-sizing: border-box;
  font: inherit;
  /* -webkit-text-fill-color: currentColor; */
  box-shadow: none;
  /* appearance: none; */
}

/* main fonts */

.h1 {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 500;
}

.h2 {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 32px;
  line-height: 38px;
  font-weight: 500;
}

.h3 {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
}

.p {
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.lg {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
}

.md {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.sm {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.code {
  font-family: "Fira Code", sans-serif;
  font-size: 16;
  line-height: 21px;
  font-weight: 400;
}