:root {
    /* base-colors  */
    --base-white:                   #FFFFFF;
    /* 1  */
    /* 2  */
    /* 3  */

    /* scheme-dark */
    --background-dark:              #111113;
    --surface-dark:                 #18191B;
    --overlay-dark:                 #212225;

    --dark-neutral-primary:         #EDEEF0F5;
    --dark-neutral-secondary:       #EDEEF0D1;
    --dark-neutral-tertiary:        #EDEEF0AD;

    --dark-kelp-primary:            #0BD8B6FA;
    --dark-kelp-secondary:          #0BD8B6D6;
    --dark-kelp-tertiary:           #0BD8B6B8;

    --dark-salt-primary:            #4CCCE6F5;
    --dark-salt-secondary:          #4CCCE6D6;
    --dark-salt-tertiary:           #4CCCE6B8;

    --dark-vista-primary:           #9EB1FFF5;
    --dark-vista-secondary:         #9EB1FFD6;
    --dark-vista-tertiary:          #9EB1FFB8;

    /* scheme-light */
    --background-light:             #F0F0F3;
    --surface-light:                #F9F9FB;
    --overlay-light:                #FCFCFD;

    --light-neutral-primary:        #1C2024EA;
    --light-neutral-secondary:      #1C2024B8;
    --light-neutral-tertiary:       #1C20248A;

    --light-kelp-primary:           #007C65FA;
    --light-kelp-secondary:         #007C65CC;
    --light-kelp-tertiary:          #007C65A3;

    --light-salt-primary:           #007F98F5;
    --light-salt-secondary:         #007F98CC;
    --light-salt-tertiary:          #007F98A3;

    --light-vista-primary:          #4958C6F5;
    --light-vista-secondary:        #4958C6CC;
    --light-vista-tertiary:         #4958C6A3;
}