.default {
    padding: 10px;
    padding-left: 40px;

    color: var(--color-black);

    border-radius: 8px;
    border: 1px solid var(--grey-700);
}

.default::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--grey-700);
}

.auth {
    compose: default;

    padding: 16px;

    border: 1px solid var(--grey-border);
}

.auth::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    color: var(--grey-disable);
}