.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 592px;
}

.title {
    max-width: 480px;
    margin-bottom: 16px;
}

.description {
    margin-bottom: 24px;

    color: var(--light-neutral-secondary);
}

.link {
    max-width: 314px;
}

.icon {
    transform: rotate(180deg);
}

.image {
    width: 512px;
    padding-right: 51.5px;
}