.logo {
  display: flex;
  align-items: center;

  text-decoration: none;
}

.icon {
  margin-right: 6px;

  transform: translateY(-14%);
}

.text {
  font-weight: 500;
  line-height: 19.36px;
  color: var(--grey-700)
}