.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 40px;
}

.cardItem {
    display: flex;
    flex-grow: 1;
    flex-basis: calc(25% - 40px);
    min-width: 0; 
  }
  

.linkAll {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 24px;
    min-height: 48px;

    color: var(--dark-neutral-primary);
    background-color: var(--background-dark);

    cursor: pointer;
}

.icon {
    transform: rotate(180deg);
}