.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.cards {
    gap: 40px;
}

.cardItem {
    display: flex;
    overflow: hidden;
}

.icon {
    transform: rotate(180deg);
}