.mainContainer {
    display: flex;
    gap: 42px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 690px;
    padding-top: 213px;
}

.title {
    font-weight: 600;
    font-size: 32px;
    line-height: 41.6px;
    text-align: center;

    color: var(--grey-900);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.inputLabel {
    font-weight: 600;
    font-size: 18px;
    line-height: 28.8px;

    color: var(--grey-900);
}

.buttonText {
    font-weight: 500;
    font-size: 14px;
    line-height: 22.4px;
}

.divider {
    display: flex;
    align-items: center;

    font-size: 14px;
    line-height: 21px;
    text-align: center;

    color: var(--grey-disable);
}

.divider::before,
.divider::after {
    content: "";

    flex-grow: 1;
    height: 1px;

    background-color: var(--grey-disable);
}

.divider::before {
    margin-right: 14px;
}

.divider::after {
    margin-left: 14px;
}

.socialsContainer {
    display: flex;
    gap: 15px;
}

.social {
    width: 220px;
    display: flex;
    gap: 6px;
    padding: 10px 24px;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    border: 1px solid var(--grey-disable);
    border-radius: 8px;

    cursor: pointer;
}

.facebookText,
.googleText,
.microsoftText {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.facebookText {
    color: #0866FF;
}

.googleText {
    color: #EA4335;
}

.microsoftText {
    color: var(--color-black);
}

.image {
    min-width: 628px;
    max-width: 628px;
    height: 959px;

    background-image: url('src/6_shared/ui/images/LoginGirl.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}