.review {
    display: flex;
    flex-grow: 1;
    gap: 24px;
    padding: 24px;

    background-color: var(--surface-light);
    border: 1px solid var(--light-vista-tertiary);
}

.infoAuthor {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 160px;
}

.avatarContainer {
    display: block;
    width: 120px;
    height: 120px;
    overflow: hidden;

    border-radius: 50%;
}

.avatarContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.author {
    color: var(--light-kelp-primary);
}

.feedback {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.description {
    margin-bottom: auto;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 28px;
}

.rating {
    margin-right: 4px;
    max-width: 120px;
}

.date { 
    margin: auto 0;
}