.container {
    display: flex;
    flex-direction: column;

    gap: 40px;
}

.column {
    gap: 40px;
    
    align-items: center;
} 

.image {
    height: 400px;
}

.content {
    display: flex;
    flex-direction: column;
}

.title {
    margin-bottom: 16px;
}

.description {
    margin-bottom: 24px;

    color: var(--light-neutral-secondary);
}

.link {
    align-self: flex-start;
}

.men {
    width: 471.5px;
}

.icon {
    transform: rotate(180deg);
}