.page {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    min-height: 100vh;
}

.container {
    padding-left: calc(50% - 640px);
    padding-right: calc(50% - 640px);
}

.footer {
    composes: container;

    padding-top: 80px;
    padding-bottom: 80px;
}